[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
apispec = "*"
pyyaml = "*"
mypy = "*"
types-python-dateutil = "*"

[packages]
pynamodb = "*"
arrow = "*"
requests = "*"
pydantic = "*"
aws-lambda-powertools = "*"

[requires]
python_version = "3.9"
